@import "assets/css/grid.css";
@import "components/page-header/page-header.css";
@import "components/about-us/about-us.css";
@import "components/team/team.css";
@import "components/services/services.css";


* {
    box-sizing: border-box;
}

:root {
    font-family: "Helvetica Neue Lt Pro", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    text-align: center;
}

a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-auto {
    margin: auto;
}

.description-text {

}

.slant {
    transform: skewY(-7deg);
    overflow: hidden;
}

.slant-inner {
    transform: skewY(7deg);
}


